@use "../../styles/utils/index" as *;

.project {
    &__imageWrapper {
        position: relative;
        overflow: hidden;
        aspect-ratio: 16 / 9;

        img {
            width: 90%;
            height: 90%;
            margin: 20px auto;
            filter: grayscale(40%) contrast(1) brightness(0.6);
            transition: filter 0.4s ease, transform 0.4s ease;
            box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
            // object-fit: cover;
        }

        &:hover img {
            filter: grayscale(0%) contrast(1) brightness(1);
        }

        p {
            position: absolute;
            font-size: 80px;
            z-index: 2;
            color: var(--dark);
            top: 0;
            left: 0;
            line-height: 1;
            background-color: var(--gold);
            opacity: 0.8;
            width: 80px;
            border-radius: 8px;
            text-align: center;
            transition: all 0.4s ease;
            box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
        }

        &:hover p {
            opacity: 0;
        }
    }

    h3 {
        text-align: center;
        color: var(--light);
        opacity: 0.8;
        font-size: 24px;
        margin-bottom: 12px;
    }

    &__details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px 0;
        margin: 0 40px;

        div {
            display: contents;
        }

        ul {
            li {
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                font-size: 14px;

                span {
                    width: 10px;
                    height: 10px;
                    background-color: var(--gold);
                    margin-right: 16px;
                    border-radius: 50%;
                    opacity: 0.8;
                    flex-shrink: 0;
                }
            }
        }
    }

    &__link {
        font-weight: 500;
        opacity: 0.8;
        color: var(--gold);
        text-decoration-line: underline;
        text-underline-offset: 6px;
        text-decoration-thickness: 1px;
    }

    &__description {
        grid-column: 1 / -1;

        li {
            opacity: 0.6;
        }
    }
}

@media screen and (min-width: 800px) {
    .project {
        &__details {
            grid-template-columns: repeat(3, 1fr);

        }

        &__description {
            grid-column: auto;
        }
    }
}

@media screen and (min-width: 1000px) {
    .project {
        p {
            font-size: 160px;
            width: 160px;
        }

        &__details {
            ul {
                li {
                    margin-left: 24px;
                    opacity: 0.8;
                }
            }
        }
    }
}