.project {
    &__imageWrapper {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(60%) contrast(1) brightness(0.6);
            transition: filter 0.6s ease, transform 0.6s ease;
        }

        &:hover img {
            filter: grayscale(0%) contrast(1) brightness(1);
        }
    }

    &__details {
        display: flex;
        justify-content: space-around;

        ul {
            // flex: 1;
            // display: flex;
            // flex-direction: column;
            // padding-left: 40px;
        }
    }
}