@use "../../styles/utils/index" as *;

.project {
    scroll-margin-top: 100px;

    &__imageWrapper {
        position: relative;
        overflow: hidden;
        height: 260px;

        img {
            width: 90%;
            height: 85%;
            margin: 20px auto 0;
            filter: grayscale(40%) contrast(1) brightness(0.6);
            transition: filter 0.4s ease, transform 0.4s ease;
            object-fit: cover;
            object-position: top;
        }

        &:hover img {
            filter: grayscale(0%) contrast(1) brightness(1);
        }

        p {
            position: absolute;
            font-size: 80px;
            z-index: 2;
            color: var(--dark);
            top: 0;
            left: 0;
            line-height: 1;
            background-color: var(--gold);
            opacity: 0.8;
            width: 80px;
            border-radius: 8px;
            text-align: center;
            transition: all 0.4s ease;
        }

        &:hover p {
            opacity: 0;
        }
    }

    h3 {
        text-align: center;
        color: var(--light);
        opacity: 0.8;
        font-size: 24px;
        margin-bottom: 12px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        margin: 0 40px;

        div:first-child {
            display: flex;
            justify-content: space-between;

        }



        ul {
            li {
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                font-size: 14px;

                span {
                    width: 10px;
                    height: 10px;
                    background-color: var(--gold);
                    margin-right: 16px;
                    border-radius: 50%;
                    opacity: 0.8;
                    flex-shrink: 0;
                }
            }
        }
    }



    &__link {
        font-weight: 500;
        opacity: 0.8;
        color: var(--gold);
        text-decoration-line: underline;
        text-underline-offset: 6px;
        text-decoration-thickness: 1px;
    }

    &__description {
        grid-column: 1 / -1;
    }
}

@media screen and (min-width: 800px) {
    .project {

        &__imageWrapper {
            height: 500px;
        }

        &__details {
            margin: 0 60px;
            flex-direction: row;
            justify-content: space-between;

            div:first-child {
                flex: 2;

                ul {
                    flex: 1;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .project {
        &__imageWrapper {
            height: 600px;

            img {
                margin: 40px auto 0;
                height: 90%;
            }
        }

        p {
            font-size: 160px;
            width: 160px;
        }
    }
}