.project {
    &__imageWrapper {
        position: relative;
        overflow: hidden;
        // max-width: 1140px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 90%;
            // height: 100%;
            margin: 20px auto;
            object-fit: cover;
            filter: grayscale(60%) contrast(1) brightness(0.6);
            transition: filter 0.4s ease, transform 0.4s ease;
            // margin-left: 40px;

        }

        &:hover img {
            filter: grayscale(0%) contrast(1) brightness(1);
        }

        p {
            position: absolute;
            font-size: 160px;
            z-index: 2;
            color: var(--dark);
            top: 0;
            left: 0;
            line-height: 1;
            background-color: var(--gold);
            opacity: 0.8;
            width: 160px;
            border-radius: 16px;
            text-align: center;
            transition: all 0.4s ease;
        }

        &:hover p {
            opacity: 0;
        }
    }

    h3 {
        text-align: center;
        color: var(--gold);
        opacity: 0.8;
        font-size: 24px;
        margin-bottom: 24px;
    }

    &__description {
        text-align: center;
        margin-bottom: 24px;
        opacity: 0.6;
    }

    &__details {
        display: flex;
        justify-content: space-around;

        ul {

            // flex: 1;
            // display: flex;
            // flex-direction: column;


            // padding-left: 40px;
            li {
                display: flex;
                align-items: center;
                margin-bottom: 8px;

                // list-style-type: disc;
                // list-style: circle;
                // list-style-image: url("/sprite.svg#icon-arrow-right");
                span {
                    width: 14px;
                    height: 14px;
                    background-color: var(--gold);
                    margin-right: 16px;
                    border-radius: 50%;
                    opacity: 0.8;
                }
            }
        }
    }
}