@use "../../styles/utils/index" as *;

.menu {
    height: 100vh;
    background: url("/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    inset: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;


    &__content {
        padding: 200px 0 150px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__closeBtn {
        @include menuIcon;
        position: absolute;
        z-index: 999;
        top: 24px;
        right: 24px;
    }

    &__nav {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.mobileOnly {
    display: block;

    @media screen and (min-width: 768px) {
        display: none;
    }
}