@use "../../styles/utils/index" as *;

.modal {
    position: fixed;
    inset: 0;
    background: #000000;
    z-index: 100;

    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background: var(--color-light);
    // transform: translateX(-100%);
    // transition: transform 3s;
    // z-index: 999;
    // padding: 32px 0;
    // overflow-y: auto;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // &__closeBtn {
    //     width: 24px;
    //     height: 24px;
    //     background-color: #ffffff;
    //     display: grid;
    //     // place-items: ;
    //     position: absolute;
    //     z-index: 999;
    //     top: 24px;
    //     right: 24px;
    // }

    // &__closeIcon {
    //     width: 24px;
    //     height: 24px;
    //     stroke: #c53b3b;
    // }
    // .menuIcon {
    //     width: 32px;
    //     height: 32px;
    //     stroke: var(--gold);
    // }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    @media screen and (min-width: 768px) {
        // display: none;
    }

    // &.is-open {
    //     transform: translateX(0);
    // }

    // &__nav {
    //     height: 560px;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: space-around;
    //     gap: 32px;
    // }

    // &__menu {
    //     gap: 32px;
    //     align-items: center;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    // }
}