@use "../../styles/utils/index" as *;

.menu {
    position: fixed;
    inset: 0;
    background: #000000;
    z-index: 100;
    width: 100%;
    height: 100vh;


    &__content {
        padding: 200px 0 100px;
        // width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__closeBtn {
        @include menuIcon;
        position: absolute;
        z-index: 999;
        top: 24px;
        right: 24px;
    }

    &__nav {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }



    // &.is-open {
    //     transform: translateX(0);
    // }

    // &__nav {
    //     height: 560px;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: space-around;
    //     gap: 32px;
    // }

    // &__menu {
    //     gap: 32px;
    //     align-items: center;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    // }
}

@media screen and (min-width: 768px) {
    // display: none;
}