@use "../../styles/utils/index" as *;

.hero {
    // height: 100vh;
    // background: url("/bg.jpg");
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    padding: 0;

    &__container {
        height: 100vh;
        background: url("/bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 1440px;
        // height: 100%;
        padding: 180px 24px 32px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-between;
    }


    &__title {
        line-height: 1.4;
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        position: relative;
        text-shadow: 8px 6px 8px rgba(0, 0, 0, 1);

        &:after {
            content: "";
            position: absolute;
            border: 2px solid var(--gold);
            top: 86px;
            left: -24px;
            z-index: 2;
            width: 326px;
            box-shadow: 8px 6px 8px rgba(0, 0, 0, 1);
        }
    }

    &__titleGrey {
        opacity: 0.5;
    }

    &__titleBig {
        display: block;
        font-size: 44px;
    }

    &__list {
        margin-left: auto;
        color: var(--light);
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            border: 1.5px solid var(--gold);
            top: 86px;
            right: -24px;
            z-index: 2;
            width: 162px;
            box-shadow: 8px 6px 8px rgba(0, 0, 0, 1);
        }

        li {
            opacity: 0.6;
            text-shadow: 8px 6px 8px rgba(0, 0, 0, 1);
        }
    }

    &__text {
        font-size: 18px;
        opacity: 0.6;
        text-shadow: 8px 6px 8px rgba(0, 0, 0, 1);

        span {
            display: block;
        }
    }

    &__links.soc {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        // background: url("/bg.jpg");
        // background-size: cover;
        // background-position: center;
        // background-repeat: no-repeat;

        &__container {
            height: 100vh;
            background: url("/bg.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 240px 40px 40px;
            justify-content: space-between;
        }

        &__title {
            font-size: 22px;

            &:after {
                top: 120px;
                left: -40px;
                width: 470px;
            }
        }

        &__titleBig {
            font-size: 64px;
        }

        &__list {
            font-size: 20px;

            &:after {
                top: 94px;
                right: -40px;
                width: 188px;
            }

            li {
                opacity: 0.6;
            }
        }

        &__info {
            display: flex;
            justify-content: space-between;
        }

        &__text {
            font-size: 18px;
            opacity: 0.6;

            span {
                display: block;
            }
        }

        &__links.soc__list {
            display: none;
        }
    }
}

@media screen and (min-width: 1080px) {
    .hero {


        &__container {
            height: 100vh;
            background: url("/bg.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 268px 68px 40px;
            // justify-content: space-between;
        }

        &__title {
            font-size: 32px;

            &:after {
                top: 160px;
                left: -68px;
                width: 624px;
            }
        }

        &__titleBig {
            font-size: 84px;
        }

        &__list {
            // font-size: 24px;

            &:after {
                //     top: 130px;
                right: -68px;
                width: 222px;
            }

            li {
                // line-height: 1.8;
            }
        }

        &__text {
            // font-size: 25px;


            span {
                display: inline-block;
            }
        }

        &__links.soc__list {
            display: none;
        }
    }
}

.desktopOnly {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}