@use "../../styles/utils/index" as *;

.hero {
    display: flex;
    color: var(--light);

    &__info {
        // flex: 2;
        height: 320px;
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: end;
        // justify-content: center;
        // padding-left: 80px;
        background: linear-gradient(45deg, rgba(18, 18, 17, 0.933) 25%, rgba(18, 18, 17, 0.832) 35%, rgba(18, 18, 17, 0.418) 65%), url("../../assets/hero.jpg");
        background-size: cover;
        background-position: center top;

        h1 {
            line-height: 1.2;
        }
    }

    &__nav {

        flex: 1;
        display: flex;
        // height: 100vh;
    }

    &__navList {
        display: flex;
        // flex-direction: column;
        width: 100%;
    }

    &__navList li {
        flex: 1;
        writing-mode: sideways-lr;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid var(--gold);
        font-size: 18px;
        cursor: pointer;
        height: 240px;
        transition: all 0.3s ease;

        &:hover {
            scale: 1.2;
            background: rgba(201, 162, 39, 0.2);

        }
    }


}