@use "../../styles/utils/index" as *;

.skill {
    display: grid;
    align-items: center;
    gap: 20px;
    // justify-content: space-between;
    margin-bottom: 20px;

    &__icon {
        width: 24px;
        height: 24px;
        fill: var(--gold);
    }

    &__label {
        // margin-left: 20px;
        font-size: 16px;
        color: var(--light);
        opacity: 0.8;
    }

    &__line {
        position: relative;
        height: 2px;
        background: var(--light);
        opacity: 0.4;
    }

    &__line span {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background: var(--light);
        // opacity: 0.4;
        border-radius: 50%;
    }
}


/* SOFTWARE SKILLS — с иконкой */
.withIcon {
    grid-template-columns: 24px 120px 150px;
}

/* LANGUAGES / PERSONAL — без иконки */
.noIcon {
    grid-template-columns: 130px 184px;
}

@media screen and (min-width: 800px) {
    .withIcon {
        grid-template-columns: 24px 100px 150px;
    }

    /* LANGUAGES / PERSONAL — без иконки */
    .noIcon {
        grid-template-columns: 120px 164px;
    }
}

@media screen and (min-width: 850px) {
    .withIcon {
        grid-template-columns: 24px 100px 150px;
    }

    /* LANGUAGES / PERSONAL — без иконки */
    .noIcon {
        grid-template-columns: 130px 184px;
    }
}

@media screen and (min-width: 900px) {
    .withIcon {
        grid-template-columns: 24px 100px 180px;
    }

    /* LANGUAGES / PERSONAL — без иконки */
    .noIcon {
        grid-template-columns: 130px 204px;
    }
}

@media screen and (min-width: 950px) {
    .withIcon {
        grid-template-columns: 24px 100px 180px;
    }

    /* LANGUAGES / PERSONAL — без иконки */
    .noIcon {
        grid-template-columns: 130px 204px;
    }
}

@media screen and (min-width: 1000px) {
    .withIcon {
        grid-template-columns: 24px 150px 180px;
    }

    /* LANGUAGES / PERSONAL — без иконки */
    .noIcon {
        grid-template-columns: 156px 188px;
    }
}

@media screen and (min-width: 1100px) {
    .withIcon {
        grid-template-columns: 24px 150px 200px;
    }

    /* LANGUAGES / PERSONAL — без иконки */
    .noIcon {
        grid-template-columns: 156px 238px;
    }
}

@media screen and (min-width: 1280px) {
    .withIcon {
        grid-template-columns: 24px 150px 248px;
    }

    /* LANGUAGES / PERSONAL — без иконки */
    .noIcon {
        grid-template-columns: 156px 248px;
    }
}