@use "../../styles/utils/index" as *;

.skill {
    display: grid;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    &__icon {
        width: 24px;
        height: 24px;
        fill: var(--gold);
    }

    &__label {
        font-size: 16px;
        color: var(--light);
        opacity: 0.8;
    }

    &__line {
        position: relative;
        height: 2px;
        background: var(--light);
        opacity: 0.4;
    }

    &__line span {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background: var(--light);
        border-radius: 50%;
    }
}

.withIcon {
    grid-template-columns:
        24px minmax(100px, 160px) minmax(120px, 240px);
}

.noIcon {
    grid-template-columns:
        minmax(100px, 160px) minmax(120px, 240px);
}