@use "./utils/index" as *;

:root {
  // color: var(--dark);
  font-family: "Montserrat", sans-serif;
  font-synthesis: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  // backdrop-filter: blur(10px);
  background: var(--dark);
  // background: url("../assets/bg.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // background: #445454;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}