@use "../../styles/utils/index" as *;

.about {

    &__container {
        // backdrop-filter: blur(8px);
        background: linear-gradient(0.00deg, rgba(255, 255, 255, 0.08) 34%, rgba(24, 24, 24, 0.08) 84%);
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px 20px;
    }

    &__title {
        // position: relative;
        // z-index: -999;
        color: var(--gold);
        opacity: 0.03;
        font-size: 90px;
        font-weight: 600;
        line-height: 0.8;
        // letter-spacing: -3%;
        // text-align: left;
        text-transform: uppercase;
        text-align: center;
        // margin-bottom: 40px;
        // text-transform: uppercase;
    }

    &__wrapper {
        height: 372px;
        box-shadow: 8px 6px 16px rgba(0, 0, 0, 1);
        // position: relative;
        // margin-bottom: 48px;
        overflow: hidden;
        border-radius: 8px;


        img {

            background: linear-gradient(270.00deg, rgba(0, 0, 0, 0), rgba(24, 24, 24, 0.6) 100%);
            object-fit: cover;
            height: 372px;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(270deg,
                    rgba(0, 0, 0, 0),
                    rgba(24, 24, 24, 0.6));
            pointer-events: none;
        }

    }

    &__text {
        // color: var(--dark);
        // line-height: 1.5;
        font-size: 14px;
        // margin-bottom: 16px;
        text-align: center;

    }


}