@use "../../styles/utils/index" as *;

.skills {

    &__container {
        // backdrop-filter: blur(8px);
        background: linear-gradient(0.00deg, rgba(255, 255, 255, 0.08) 34%, rgba(24, 24, 24, 0.08) 84%);
        padding: 40px 20px;
        text-align: center;
    }

    &__title {
        @include title;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }


    // &__text {
    //     // color: var(--dark);
    //     display: flex;
    //     flex-direction: column;
    //     gap: 40px;

    //     // margin-bottom: 16px;
    //     // text-align: left;
    //     p {
    //         text-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
    //         line-height: 2.2;
    //         font-size: 14px;
    //         opacity: 0.8;
    //         max-width: 520px;
    //     }
    // }


}

@media screen and (min-width: 768px) {

    .skills {

        &__container {
            // backdrop-filter: blur(8px);
            // background: linear-gradient(0.00deg, rgba(255, 255, 255, 0.08) 34%, rgba(24, 24, 24, 0.08) 84%);


            padding: 60px 40px;
            text-align: left;
        }


        &__content {
            // display: flex;
            flex-direction: row;
            gap: 40px;
            align-items: center;
        }

        // &__text {
        //     gap: 60px;
        //     p {
        //         max-width: none;
        //         line-height: 2.2;
        //         // font-size: 18px;
        //     }
        // }
    }
}

@media screen and (min-width: 1080px) {

    .skills {
        &__container {
            padding: 60px 68px;
            // text-align: left;
        }

        &__content {
            // display: flex;
            // flex-direction: row;
            gap: 100px;
            // align-items: center;
        }

        // &__text {

        //     // gap: 100px;

        //     p {
        //         max-width: none;
        //         line-height: 2.2;
        //         font-size: 20px;
        //         // font-size: 18px;
        //     }
        // }
    }

}


@media screen and (min-width: 1440px) {

    .about {
        &__container {
            // padding: 80px 140px;
            // text-align: left;
        }

        &__title {
            // font-size: 240px;
            // margin-bottom: 60px;

        }

        &__content {
            // display: flex;
            // flex-direction: row;
            // gap: 100px;
            // align-items: center;
        }

        // &__text {
        //     margin-right: 60px;
        //     gap: 80px;

        //     p {

        //         // max-width: none;
        //         text-align: center;
        //         line-height: 2.35;
        //         // font-size: 22px;
        //         // font-size: 18px;
        //     }
        // }


    }

}