@use "../../styles/utils/index" as *;

.skills {
    &__container {
        padding: 60px 20px;
    }

    &__title {
        @include title;
        text-align: center;
    }

    h3 {
        @include gradient;
        text-align: center;
        margin-bottom: 24px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration-line: underline;
        text-underline-offset: 8px;
        text-decoration-thickness: 1.2px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__soft>&__item {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 768px) {
    .skills {
        &__container {
            padding: 80px 40px 40px;
        }



        h3 {
            text-align: left;
        }

        &__list {
            flex-direction: row;
            gap: 60px;
            align-items: start;
            justify-content: space-between;
        }

        &__soft>&__item {
            margin-bottom: 0;
        }

        &__soft>&__item:first-child {
            margin-bottom: 57px;
        }
    }
}

@media screen and (min-width: 900px) {
    .skills {
        &__container {
            padding: 20px 40px 20px;
        }

        &__title {
            text-align: left;
        }
    }
}

@media screen and (min-width: 1000px) {
    .skills {
        &__container {
            padding: 60px 68px 20px;
        }

        h3 {
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 1280px) {
    .skills {
        &__list {
            margin-top: -140px;
            align-items: end;
        }

        &__soft {
            margin-bottom: 18px;
        }

        &__itemHard {
            li {
                margin-bottom: 38px;
            }
        }
    }
}