@use "../../styles/utils/index" as *;

.about {
    &__container {
        padding: 60px 20px 20px;
        text-align: center;
        border-bottom: 4px solid #ffffff1f;
    }

    &__title {
        @include title;
        border-bottom: 2px solid var(--gold);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    &__wrapper {
        height: 400px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(270deg,
                    rgba(0, 0, 0, 0.181),
                    rgba(24, 24, 24, 0.6));
            pointer-events: none;
        }

        img {
            object-position: top;
            object-fit: cover;
            height: 400px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 40px;

        p {
            text-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
            line-height: 2.2;
            font-size: 14px;
            opacity: 0.8;
            max-width: 520px;

            &:last-child {
                opacity: 0.5;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .about {
        &__container {
            padding: 80px 40px 40px;
            text-align: left;
        }

        &__content {
            flex-direction: row;
            gap: 40px;
            align-items: center;
        }

        &__wrapper {
            height: 440px;
            min-width: 400px;

            img {
                height: 440px;
            }
        }

        &__text {
            gap: 60px;

            p {
                max-width: none;
                line-height: 2.2;
            }
        }
    }
}

@media screen and (min-width: 1080px) {
    .about {
        &__container {
            padding: 120px 68px 60px;
        }

        &__content {
            gap: 200px;
        }

        &__wrapper {
            height: 480px;
            width: 400px;

            img {
                height: 480px;
            }
        }

        &__text {
            p {
                max-width: none;
                line-height: 2.2;
                font-size: 18px;
            }
        }
    }
}


@media screen and (min-width: 1440px) {
    .about {
        &__wrapper {
            height: 480px;
            width: 400px;

            img {
                height: 480px;
            }
        }

        &__text {
            margin-right: 60px;
            gap: 80px;

            p {
                text-align: center;
                line-height: 2.35;
            }
        }
    }
}