@use "../../styles/utils/index" as *;

.about {
    &__container {
        padding: 60px 20px 20px;
    }

    &__title {
        @include title;
        text-align: center;
        margin-bottom: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    &__wrapper {
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        max-width: 480px;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(270deg,
                    rgba(0, 0, 0, 0.181),
                    rgba(24, 24, 24, 0.6));
            pointer-events: none;
        }

        img {
            width: 100%;
            object-position: top;
            object-fit: cover;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 520px;

        p {

            line-height: 2.2;
            font-size: 14px;
            opacity: 0.8;

            text-align: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .about {
        &__title {
            @include title;
        }

        &__container {
            padding: 80px 40px 40px;
            text-align: left;
        }

        &__content {
            flex-direction: row;
            gap: 40px;
            align-items: center;
        }

        &__wrapper {
            height: 440px;
            min-width: 400px;

            img {
                height: 440px;
            }
        }

        &__text {

            p {
                text-align: left;
                max-width: none;
                line-height: 2.2;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .about {
        &__container {
            padding: 80px 40px;
        }

        &__title {
            text-align: left;
            margin-bottom: 0;

        }

        &__text {
            p {
                max-width: none;
                margin-top: 16px;
            }
        }

        &__wrapper {
            margin-top: -90px;
        }
    }
}


@media screen and (min-width: 1000px) {
    .about {
        &__content {
            gap: 0;
            justify-content: space-between;
        }
    }
}