@use "./variables" as *;

@mixin menuIcon {
    width: 26px;
    height: 26px;
    border: none;
    padding: 0;
    background: transparent;
    display: grid;
    place-items: center;


    svg {
        width: 24px;
        height: 24px;
        fill: var(--gold);
        filter: drop-shadow(8px 6px 8px rgba(0, 0, 0, 1));
    }
}

@mixin title {
    color: var(--gold);
    opacity: 0.8;
    font-size: 64px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 48px;

    @media screen and (min-width: 768px) {
        font-size: 105px;
    }
}