html,
body {
    overflow-x: hidden;
}

button {
    font-family: inherit;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.active {
    color: var(--gold);
    text-decoration-line: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1.2px;
    opacity: 1;
}

nav>a {
    font-size: 24px;
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: 600;
    transition: all 0.3s ease;
    line-height: 1;
}

nav>a:not(.active):hover {
    opacity: 1;
    color: var(--gold);
}

@media screen and (min-width: 800px) {
    nav>a {
        font-size: 18px;
    }
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}