.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    // background: var(--em-light);
    // border: 1px solid var(--gold);
}

section {
    // padding: 48px 0;
}

.active {
    color: var(--gold);
    text-decoration-line: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
}


nav>a {

    font-size: 24px;
    // text-align: center;
    // font-weight: 400;
    // line-height: 36px;
    // letter-spacing: 0%;
    // text-align: left;
    text-transform: uppercase;
}

.menuBtn {
    width: 26px;
    height: 26px;
    border: none;
    padding: 0;
    background: transparent;
    display: grid;
    place-items: center;
    // display: flex;
    // align-items: start;
    // justify-content: end;

    .menuIcon {
        // display: block;
        width: 24px;
        height: 24px;
        fill: var(--gold);
        // stroke: var(--light);
        // stroke-width: 8px;
        // vertical-align: left;
        // display: grid;
        // place-items: center;
    }
}

svg {
    // vertical-align: middle;

}

@media screen and (min-width: 768px) {
    // section {
    //     padding: 48px 0;
    // }
}