.container {
    max-width: 1440px;
    margin: 0 auto;
    // padding: 0 64px;
    // background: var(--em-light);
    border: 1px solid var(--gold);
}

// section {
//     padding: 48px 0;
// }

@media screen and (min-width: 768px) {
    section {
        padding: 48px 0;
    }
}