.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    // padding: 40px 20px;
    // background: var(--em-light);
    // border: 1px solid var(--gold);
}

// section {
//     padding-top: 40px;
// }

.active {
    color: var(--gold);
    text-decoration-line: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1.2px;
    opacity: 1;
}


nav>a {
    font-size: 24px;
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: 600;
    text-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 768px) {
    // section {
    //     padding: 48px 0;
    // }
}

@media screen and (min-width: 1080px) {
    nav>a {
        // font-size: 36px;
        // text-transform: uppercase;
        // opacity: 0.6;
        // font-weight: 600;
    }
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}