@use "../../styles/utils/index" as *;

.header {
    padding: 20px 0;

    .container {
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        align-items: center;


        h2 {
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: var(--gold);

            text-align: center;


            line-height: 22px;
            // letter-spacing: 0.03em;
            text-align: left;
            text-transform: uppercase;
        }
    }

    // &__nav {
    //     gap: 100px;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     // align-items: center;
    //     font-size: 24px;
    //     text-align: center;
    //     // font-weight: 400;
    //     // line-height: 36px;
    //     // letter-spacing: 0%;
    //     // text-align: left;
    //     text-transform: uppercase;
    // }

}