@use "../../styles/utils/index" as *;

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 24px 0;
    background: transparent;
    transition: all 0.3s ease;

    &__container {
        max-width: 1280px;
        padding: 0 24px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: var(--gold);
            text-align: center;
            line-height: 22px;
            text-transform: uppercase;
        }
    }

    &__menuBtn {
        @include menuIcon;
    }

    &__nav {
        display: none;
    }
}

.header.scrolled {
    background: rgba(26, 26, 26, 0.6);
    backdrop-filter: blur(3px);
}

@media screen and (min-width: 768px) {
    .header {
        &__container {
            padding: 0 40px;
        }

        &__menuBtn {
            display: none;
        }

        &__nav {
            display: flex;
            gap: 40px;
        }
    }
}

@media screen and (min-width: 1080px) {
    .header {
        &__container {
            padding: 0 68px;
        }

        &__nav {
            gap: 120px;
        }
    }
}