@use "../../styles/utils/index" as *;

.works {
    &__container {
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    &__item {
        position: relative;
        overflow: hidden;
        height: 240px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            border: 2px solid var(--gold);
        }
    }

    &__btn {
        text-align: center;
        text-transform: uppercase;
        border-radius: 8px;
        color: var(--light);
        // border: 1px solid var(--gold);
        font-size: 16px;
        background-color: transparent;
        opacity: 0.8;
        padding: 20px 30px;
    }

    @keyframes pulse-glow {
        0% {
            box-shadow: 0 0 0 rgba(60, 60, 60, 0);
        }

        50% {
            box-shadow: 0 0 20px rgba(203, 164, 114, 0.8);
        }

        100% {
            box-shadow: 0 0 0 rgba(60, 60, 60, 0);
        }
    }

    &__btnPulse {
        animation: pulse-glow 2s ease-in-out infinite;
    }
}

@media screen and (min-width: 800px) {
    .works {
        &__container {
            padding: 60px 40px;

            div {
                width: 100%;
            }
        }

        &__item {
            height: 320px;
        }

        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 1000px) {
    .works {
        &__container {
            padding: 60px 68px;
        }

        &__item {
            img {
                filter: grayscale(40%) contrast(1) brightness(0.6);
                transition: filter 0.6s ease, transform 0.6s ease;
            }

            &:hover img {
                filter: grayscale(0%) contrast(1) brightness(1);
            }
        }
    }
}