@use "../../styles/utils/index" as *;

@use "../../styles/utils/index" as *;

.works {
    &__container {
        // backdrop-filter: blur(8px);
        // background: linear-gradient(0.00deg, rgba(255, 255, 255, 0.08) 34%, rgba(24, 24, 24, 0.08) 84%);
        padding: 40px 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    button {
        border-radius: 16px;
        background-color: var(--gold);
        opacity: 0.8;
        /* Frame 25 */
        width: 300px;
        height: 60px;
        display: grid;
        place-items: center;
        border: none;

        color: var(--dark);
        font-size: 14px;
        font-weight: 600;
        // line-height: 17px;
        // letter-spacing: 4%;
        // text-align: left;
        text-transform: uppercase;
    }

    // p {
    //     opacity: 0.6;
    // }
}

@media screen and (min-width: 800px) {
    .works {
        &__container {
            // backdrop-filter: blur(8px);
            // background: linear-gradient(0.00deg, rgba(255, 255, 255, 0.08) 34%, rgba(24, 24, 24, 0.08) 84%);
            padding: 60px 40px;

            // display: flex;
            // flex-direction: row;
            // align-items: center;
            // gap: 40px;
            // justify-content: space-between;
        }
    }
}

@media screen and (min-width: 1000px) {
    .works {
        &__container {

            padding: 60px 68px;


        }
    }
}