@use "../../styles/utils/index" as *;

.footer {
    background: rgba(26, 26, 26, 0.6);
    backdrop-filter: blur(3px);

    &__container {
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    p {
        font-size: 14px;
        opacity: 0.6;
        text-align: center;
    }
}

@media screen and (min-width: 800px) {
    .footer {
        &__container {
            padding: 40px;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: 1000px) {
    .footer {
        &__container {
            padding: 40px 68px 40px;
        }
    }
}