.soc {
    // margin-top: auto;

    &__list {
        display: flex;
        gap: 28px;

        li {
            width: 28px;
            height: 28px;


        }

    }

    &__icon {
        // border: 1px solid var(--gold);
        width: 28px;
        height: 28px;
        fill: var(--gold);
        transition: all 0.5s ease;
    }

    &__github:hover {
        fill: #dfdcdc;
    }

    &__gmail:hover {
        fill: #d14836;
    }

    &__linkedin:hover {
        fill: #0077b5;
    }

    &__telegram:hover {
        fill: #2ca5e0;
    }


}