@use "../../styles/utils/index" as *;

.soc {
    display: flex;
    gap: 40px;
    align-items: center;

    li {
        width: 30px;
        height: 30px;
    }

    &__icon {
        width: 30px;
        height: 30px;
        fill: var(--gold);
        transition: all 0.5s ease;
        filter: drop-shadow(8px 6px 8px rgba(0, 0, 0, 0.7));
    }

    &__github:hover {
        fill: #dfdcdc;
    }

    &__gmail:hover {
        fill: #d14836;
    }

    &__linkedin:hover {
        fill: #0077b5;
    }

    &__telegram:hover {
        fill: #2ca5e0;
    }
}

@media screen and (min-width: 800px) {
    .soc {

        li {
            width: 28px;
            height: 28px;
        }

        &__icon {
            width: 28px;
            height: 28px;
        }
    }
}