@use "../../styles/utils/index" as *;


.soc {
    // margin-top: auto;



    display: flex;
    gap: 40px;
    align-items: center;

    li {
        width: 35px;
        height: 35px;
    }


    &__icon {
        width: 35px;
        height: 35px;
        fill: var(--gold);
        transition: all 0.5s ease;
        filter: drop-shadow(8px 6px 8px rgba(0, 0, 0, 0.7));
    }

    &__github:hover {
        fill: #dfdcdc;
    }

    &__gmail:hover {
        fill: #d14836;
    }

    &__linkedin:hover {
        fill: #0077b5;
    }

    &__telegram:hover {
        fill: #2ca5e0;
    }


}

@media screen and (min-width: 800px) {
    .soc {
        // gap: 58px;

        li {
            width: 28px;
            height: 28px;

            // border: 1px solid var(--gold);
        }


        &__icon {
            // border: 1px solid var(--gold);
            width: 28px;
            height: 28px;
            // fill: var(--gold);
            // transition: all 0.5s ease;
        }
    }
}