.bg {
    position: fixed;
    inset: 0;
    background: url("../../assets/bg.png") center/cover no-repeat;
    filter: blur(20px) brightness(0.6);
    // filter: blur(10px) brightness(0.6);
    z-index: -1;
}